<div class="js-container">
    <h2>JavaScript</h2>
    <ul>
      <li>Description: {{description}}</li>
      <li>History:</li>
      <ul>
        <li>Year: {{history.year}}</li>
        <li>Founder: {{history.founder}}</li>
      </ul>
      <li>Types:</li>
      <ul>
        {{#each types}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      <li>Syntax:</li>
      <ul>
        <li>Variables: {{syntax.variables}}</li>
        <li>Functions: {{syntax.functions}}</li>
        <li>Conditionals: {{syntax.conditionals}}</li>
        <li>Loops: {{syntax.loops}}</li>
        <li>Classes: {{syntax.classes}}</li>
      </ul>
      <li>Features:</li>
      <ul>
        {{#each features}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      <li>Libraries:</li>
      <ul>
        {{#each libraries}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      <li>Tools:</li>
      <ul>
        {{#each tools}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      <li>Community:</li>
      <ul>
        {{#each community}}
          <li>
            <b>Name:</b> {{name}}
            <b>Type:</b> {{type}}
          </li>
        {{/each}}
      </ul>
    </ul>
  </div>