<main>
    <header>
        <div class="nav">
                {{#each navigation.links}}
                <div class="nav-item"><a class="nav-link" href="{{this.href}}">{{this.text}}</a></div>
                {{/each}}
        </div>
    </header>

    <section>
        <h1 class="text-center">{{newsBlock.title}}</h1>
        <div class="row g-5">
            {{#each newsBlock.cards}}
                <div class="col-3">
                    <div class="card text-bg-secondary">
                        <div class="card-body">
                            <div class="card-header">{{title}}</div>
                            {{#if isNew}}<span class="badge text-bg-success rounded-pill">Нова</span>{{/if}}
                            {{#if isTop}}<span class="badge text-bg-danger rounded-pill">Топ</span>{{/if}}                       
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}            
        </div>
    </section>

    <section>
        <h1 class="text-center">Shop for Goods</h1>
        <div class="row g-4">
            <div class="col-12">
                <div class="nav nav-tabs">
                    {{#each goodsBlock.tabs}}
                        <a href="#" class="nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}">{{text}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row g-4">
            {{#each goodsBlock.cards}}
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <img width="100%" src="{{image}}" alt="{{title}}">
                            <div class="card-title">{{title}}</div>
                            {{#if isHot}}<span class="badge text-bg-warning rounded-pill text-uppercase">hot!</span>{{/if}}
                            {{#if isNew}}<span class="badge text-bg-info rounded-pill">New</span>{{/if}}
                            <p>{{description}}</p>                        
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>

    <section>
        <div class="card text-bg-secondary p-2">
            <h2>{{subscribe.header}}</h2>
            <p>{{subscribe.description}}</p>
            <div class="subscription-buttons">
                {{#each subscribe.buttons}}
                <div class="m-2"><a href="{{this.link}}" class="btn btn-primary">{{this.text}}</a></div>
                {{/each}}
            </div>
        </div>
    </section>

    <section>
        <div class="row g-4">
            <div class="card text-bg-success text-center">
                <h2>{{service.title}}</h2>
                <p>{{service.description}}</p>
                {{#each service.buttons}}
                    <a href="{{this.link}}"><button class="btn btn-primary">{{this.text}}</button></a>
                {{/each}}            
            </div>
        </div>
    </section>

    <footer>
        <div>
            {{#each footer}}
            <ul>
                {{#each this}}
                <li><a href="{{link}}">{{text}}</a></li>
                {{/each}}
            </ul>
            {{/each}}
        </div>
    </footer>
</main>